<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Shopping-完成插入用户信息功能</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Userservlet</display-name>
    <servlet-name>Userservlet</servlet-name>
    <servlet-class>com.swust.shopping.servlets.Userservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userservlet</servlet-name>
    <url-pattern>/manage/Userservlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Queryservlet</display-name>
    <servlet-name>Queryservlet</servlet-name>
    <servlet-class>com.swust.shopping.servlets.Queryservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Queryservlet</servlet-name>
    <url-pattern>/manage/Queryservlet</url-pattern>
  </servlet-mapping>
</web-app>